body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-black;
}

.heading-primary {
    font-family: 'Laila', serif;
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-family: 'Laila', serif;
    // display: inline-block;
    font-size: $font-size-xlarge;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    transition: all .2s;

    @supports (-webkit-background-clip: text) or (background-clip: text)  {
        background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.heading-tertiary {
    font-size: $font-size-large;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
}

.source {
    text-decoration: none;
    font-size: $font-size-small;
    color: $color-black;
    font-style: italic;
}