//SHOWING AND HIDING ELEMENTS
.u-box-show {
    // Can you reorder your Sass to avoid using !important??
    opacity: 1 !important;
    display: block !important;
}

.u-box-hide {
    display: none !important;
}


.u-quiz-hide {
    display: none !important;
}

.u-section-hide {
    
}

//MARGIN BOTTOM
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}
.u-margin-bottom-huge { margin-bottom: 10rem !important; }

//MARGIN TOP
.u-margin-top-small { margin-top: 1.5rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

//TEXT ALIGN
.u-text-left {text-align: left !important; }
.u-text-center {text-align: center !important; }
.u-text-right {text-align: right !important; }